<!-- Copyright (C) 2019  Alessia Jauvin <alessia.jauvin@gmail.com>

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>. -->

<footer class="footer bg-dark">
  <div class="d-flex">
    <div class="flex-grow-1 ml-2">
      This page is available under the
      <a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html">
        GNU General Public License v3 Licence
      </a>
    </div>
    <div>
      Source code available here:
      <a class="mr-4 ml-2" href="https://gitlab.com/alessiaj/deck-of-cards/" target="_blank">
        <fa-icon [icon]="['fab', 'gitlab']" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</footer>
