<!-- Copyright (C) 2019  Alessia Jauvin <alessia.jauvin@gmail.com>

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div class="container d-flex flex-column">
  <h1 class="display-4 d-flex justify-content-center mb-3 mt-3">About Card Dealer</h1>
  <p class="d-flex justify-content-center lead">
    The Card Dealer is a showcase app to assess proficiency coding a standalone production ready frontend app.
  </p>
  <p class="d-flex justify-content-center lead">
    A link to the source code is available at the right of the footer.
  </p>
  <p class="d-flex justify-content-center lead">
    This project is organised in projects:
  </p>
  <div class="container d-flex justify-content-center lead">
    <ul>
      <li>deck-of-cards-app: The main application;</li>
      <li>deck-of-cards-app-e2e: A series of end-to-end tests (unimplemented);</li>
      <li>
        shuffler: A library containing utilities for shuffling arrays and generating random integer within a range;
      </li>
    </ul>
  </div>

</div>
