<!-- Copyright (C) 2019  Alessia Jauvin <alessia.jauvin@gmail.com>

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div class="container-fluid mb-3 mt-3 card-panel">
  <div class="row">
    <p class="lead col-sm-6">Cards left to deal</p>
    <p class="lead col-sm-6">Dealt card</p>
  </div>
  <div class="row">
    <app-card-container [deck]="cardsToDeal" class="col-sm-6" [showDeck]="areCardsToDealShown"></app-card-container>
    <app-card-container [deck]="dealtCards" class="col-sm-6" showDeck="true"></app-card-container>
  </div>
</div>
<div class="container pt-5 mt-5">
  <div class="row mb-3">
    <button class="btn btn-primary col-sm-5 mr-2" type="button" (click)="shuffleDeck()">Shuffle deck</button>
    <button class="btn btn-primary col-sm-5 mr-2" type="button" (click)="dealCard()">Deal card</button>
  </div>
  <div class="row mb-3">
    <button class="btn btn-primary col-sm-5 mr-2" type="button" (click)="showHideCardsToDeal()">
      {{ getShowOrHide() }} cards to left to deal
    </button>
    <button class="btn btn-primary col-sm-5 mr-2" type="button" (click)="resetDeck()">Reset</button>
  </div>


</div>
