<!-- Copyright (C) 2019  Alessia Jauvin <alessia.jauvin@gmail.com>

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div class="jumbotron">
  <div class="container d-flex flex-column">
    <h1 class="display-4 d-flex justify-content-center">Welcome to the Card Dealer</h1>
    <p class="lead d-flex justify-content-center">
      This application is a showcase for a card dealer and shuffler.
    </p>
    <a [routerLink]="['cardDealer']" class="btn btn-primary btn-lg d-flex justify-content-center mr-auto ml-auto" role="button">
      Proceed to the Card Dealer
    </a>
  </div>
</div>
