<!-- Copyright (C) 2019  Alessia Jauvin <alessia.jauvin@gmail.com>

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>. -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">
    {{ brand }}
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarContent"
          aria-label="Toggle navigation" [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarContent" class="navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let navbarItem of navbarItems">
        <a class="nav-link" [routerLink]="navbarItem.link" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }" (click)="collapse()">
          {{ navbarItem.label }}
        </a>
      </li>
    </ul>
  </div>
</nav>
