<!-- Copyright (C) 2019  Alessia Jauvin <alessia.jauvin@gmail.com>

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see <http://www.gnu.org/licenses/>. -->

<ng-container *ngIf="mappedDeck.size; else noCards">
  <div *ngFor="let slicedDeck of mappedDeck | keyvalue" class="d-flex flex-row">
    <ng-container *ngIf="slicedDeck.value.length">
      <div *ngFor="let card of slicedDeck.value" class="d-flex flex-column">
        <app-card [isShown]="showDeck" [card]="card" class="card-adjust"></app-card>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #noCards>
  <p class="display-4 lead">No cards present.</p>
</ng-template>
